nav {

    display: none;


    width: 100%;
    height: 70px;
    background: $nav-blue;

    .inner {
        max-width: 988px;
        margin: 0 auto;
    }

    .nav-logo {
        width: 67px;
        height: auto;
    }

    .nav-links {
        a {
            float: left;
            text-decoration: none;

            height: 70px;
            line-height: 70px;
            vertical-align: middle;
        }
    }
}

.header {

}
