.story {
  padding-bottom: 0;
  .text {
    position: relative;
    color: $white;
    font-size: 24px;
    font-family: $neutra-light;
    text-align: center;
    line-height: 34px;

    span {
      font-family: $neutra;
      display: block;
    }

    &:before {
      content: ' “ ';
      font-family: $brandon;
      position: absolute;
      font-size: 140px;
      opacity: 0.1;
      top: 35px;
      left: 240px;
    }
    &:after {
      content: ' ” ';
      font-family: $brandon;
      position: absolute;
      font-size: 140px;
      opacity: 0.1;
      bottom: -35px;
      right: 240px;
    }
  }
}
