.story {
  padding: 0;
  .text {
    position: relative;
    color: $white;
    font-size: 24px;
    font-family: $neutra-light;
    text-align: center;
    line-height: 34px;

    span {
      font-family: $neutra;
      display: block;
    }

    &:before {
      content: ' “ ';
      font-family: $brandon;
      position: absolute;
      font-size: 140px;
      opacity: 0.1;
      top: 35px;
      left: 320px;
    }
    &:after {
      content: ' ” ';
      font-family: $brandon;
      position: absolute;
      font-size: 140px;
      opacity: 0.1;
      bottom: 35px;
      right: 320px;
    }
  }

  .line {
    height: 1px;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    display: block;
    margin: 30px auto;
  }
}
