body, html {
    font-size: 16px;
    font-family: $font-family-base;
    font-weight: $font-weight-regular;

    -webkit-font-smoothing: antialiased;
}

h1, .h1 {
    color: $white;

    font-size: $font-size-title;

    text-align: center;
    text-transform: uppercase;

    margin-bottom: 60px;

    span {
        font-size: $font-size-subTitle;
        text-transform: capitalize;

        margin-top: 25px;
    }
}

h2, .h2 {
    color: $white;

    font-size: $font-size-title;

    text-align: center;
    text-transform: uppercase;

    span {
        font-size: $font-size-subTitle;
        text-transform: capitalize;

        margin-top: 25px;
    }
}

p {
    color: $white;
    font-size: $font-size-text;
    text-transform: capitalize;
}

a {
    color: $white;

    font-size: $font-size-button;

    text-transform: uppercase;
    text-align: center;

    display: block;
}

.text-light {
    color: $white;

    text-shadow: 0px 0px 30px rgba(255, 255, 255, 1.0);
}
